
## see configure-wct.sh.  We install WCT into python's area.
# load_prefix $(pwd)/wct-nat/install
path_add WIRECELL_PATH $(pwd)/wire-cell-toolkit/cfg
path_add WIRECELL_PATH $(pwd)/toyzero/cfg
path_add WIRECELL_PATH $(pwd)/wire-cell-data

load_prefix $HOME/opt/jsonnet
load_prefix $HOME/opt/hdf5

layout python3
